body {
    padding-top: 90px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*The fun part - changing the look of the form,  sizes and colours of font, appearance of boxes and buttons, positions of information etc.  Override them rather than changing the default just in case of upgrades which would make everything break.  Override will continue to override the defaults*/
span.field-validation-error {
    color: red;
    font-weight: bold;
    font-size: small;
}
/* a selection color-profile elements stop change margins input specific cases*/
.voffset { margin-top: 2px;}
.voffset1 { margin-top: 5px;}
.voffset2 { margin-top: 10px;}
.voffset3 { margin-top: 20px;}
.voffset4 { margin-top: 40px;}
.voffset5 { margin-top: 80px;}

/*Bootstrap Overrides*/
.navbar-inverse {
    background-color: RGBA(251, 178, 31, 0.67);
    border-color: RGBA(251,178,31,0.67);
}
.navbar-inverse .navbar-nav > li > a{
    color: #39508d;
   
}
  
.navbar-inverse .navbar-brand {
  color: #39508d;
} 
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
        background-color: #feab04

    }
.dropdown-menu {
        box-shadow: none;
        -webkit-box-shadow: none;
    }
.navbar-inverse .navbar-nav > .dropdown > a .caret {
    border-top-color: #2b46f9;
    border-bottom-color: #2b46f9;
   }
.navbar-brand {
        font-weight: 700;
        font-size: 25px
}

body {

    font-size: 18px;
   
    background-color: rgba(251, 194, 83, 0.65);

}
body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family:  Poppins,"Helvetica Neue", Helvetica, Arial, sans-serif;
  
}
.form-group {
    margin-bottom: 40px;

}
.form-control {
    font-size: 14px;
        padding: 1px 12px;
    -ms-border-radius: 12px;
    border-radius: 12px;
}
.form-control:focus {
    border-color:  #2b46f9;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.btn {
    /*font-size: 18px;
    padding: 7px 25px;*/
    margin-left: 10px;
    -ms-border-radius: 12px;
    border-radius: 12px
   
}
/*Page-level styles*/
.markets {list-style: none}
.markets > li {
    position: relative;
    margin-bottom: 30px;
}
.markets > li .date {
    background: #2b46f9;
    color: #f0e68c;
    text-align: center;
    width: 60px;
    -ms-border-radius: 12px;
    border-radius: 9px
}

.markets > li .date .month {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    padding: 2px 6px;

}
.markets > li .date .day {
    background:#f9ba3b ;
    color: #0000cd;
    font-size: 20px;
    padding: 6px 12px;

}

.markets > li .details {
    position: absolute;
    top: 0;
    left: 70px;

}
 .markets > li .details .title {
       font-weight: bold;
       display: block;
   }
   .markets > li .details .category {
       
       font-size: 14px;
   }

   .markets > li .details .organiser {
       font-size: 14px;
   }
   .markets  > li .details .venue {
       font-size: 14px;
   }
  .newTitles {
       font-size: 14px;
       color: #0000cd;
  }


